@tailwind base;
@tailwind components;
@tailwind utilities;

.transform {
  transition: transform 0.3s ease-in-out;
}

.rotate-45 {
  transform: rotate(90deg);
}

body {
  background-color: hsl(0, 0%, 90%);
}
